<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="arden.plugin.compiler.launch.launchconfig.Arden2ByteCodeLaunchConfiguration"
            id="arden.plugin.compiler.launch.launchMLM"
            modes="run, debug"
            name="Medical Logic Module"
            sourceLocatorId="arden.plugin.compiler.launch.SourceLocator">
      </launchConfigurationType>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
        <launchConfigurationTypeImage
            icon="icons/mlm.png"
            configTypeID="arden.plugin.compiler.launch.launchMLM"
            id="arden.plugin.compiler.launch.launchconfig.icon">
        </launchConfigurationTypeImage>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="arden.plugin.compiler.launch.launchconfig.Arden2ByteCodeLaunchConfigurationTabGroup"
            id="arden.plugin.compiler.launch.launchconfig.Arden2ByteCodeLaunchConfigurationTabGroup"
            type="arden.plugin.compiler.launch.launchMLM">
         <launchMode
               description="Debug"
               perspective="org.eclipse.debug.ui.DebugPerspective"
               mode="debug">
         </launchMode>
         <launchMode
               description="Run"
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="arden.plugin.compiler.launch.launchconfig.LaunchShortcut"
            id="arden.plugin.compiler.launch.launchShortcut"
            label="Medical Logic Module"
            icon="icons/mlm.png"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <test
                           property="arden.plugin.compiler.launch.isLaunchableMlm">
                     </test>
                  </iterate>
               </with>
            </enablement></contextualLaunch>
         <configurationType
               id="arden.plugin.compiler.launch.launchMLM">
         </configurationType>
      </shortcut>
   </extension>
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="arden.plugin.compiler.launch.core.MlmEditorTester"
            id="arden.plugin.compiler.launch.MlmEditorTester"
            namespace="arden.plugin.compiler.launch"
            properties="isMlmEditor"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
      <propertyTester
            class="arden.plugin.compiler.launch.core.LaunchableTester"
            id="arden.plugin.compiler.LaunchableTester"
            namespace="arden.plugin.compiler.launch"
            properties="isLaunchableMlm"
            type="org.eclipse.core.runtime.IAdaptable">
      </propertyTester>
   </extension>
   <extension point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="arden.plugin.compiler.launch.debug.SourceLocator"
            id="arden.plugin.compiler.launch.SourceLocator"
            name="MLM Source Locator">
      </sourceLocator>
   </extension>
   <extension point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="arden.plugin.compiler.launch.breakpoints.ArdenSyntaxLineBreakpoint"
            id="arden.plugin.compiler.launch.lineBreakpoint"
            markerType="arden.plugin.compiler.launch.lineBreakpoint.marker">
      </breakpoint>
   </extension>
   <extension
         id="arden.plugin.compiler.launch.lineBreakpoint.marker"
         name="Line Breakpoint Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension point="org.eclipse.debug.ui.toggleBreakpointsTargetFactories">
      <toggleTargetFactory
            class="arden.plugin.compiler.launch.breakpoints.ToggleBreakpointsTargetFactory"
            id="arden.plugin.compiler.launch.ToggleBreakpointsTargetFactory">
         <enablement>
            <test
                  property="arden.plugin.compiler.isMlmEditor">
            </test>
         </enablement>
      </toggleTargetFactory>
   </extension>
   <extension point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ui.texteditor.ITextEditor"
            class="arden.plugin.compiler.launch.breakpoints.BreakpointAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
   <extension point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="arden.plugin.editor.ArdenSyntax"
            id="arden.plugin.editor.ArdenSyntax.BreakpointRulerActions">
         <action
               label="Add Breakpoint"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               actionID="RulerDoubleClick"
               id="arden.plugin.compiler.launch.ManageBreakpointRulerAction">
         </action>
      </editorContribution>
   </extension>
</plugin>
